body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: left;
	align-items: center;
    padding: 20px;
    background-color: #4081f8;
    color: white;
}

.logo img {
    height: 50px;
    margin:0px;
    padding:0px;
}

header h1 {
    margin: 0;
    margin-left:720px;
}
main {
    padding: 20px;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
    flex: 1 1 calc(33.333% - 40px);
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}
